In [38]:
import pandas as pd 
import networkx as nx 
import datetime

In [40]:
data = pd.read_csv('C:\\Users\\raosa\\Dropbox\\data\\combined\\5.csv')

In [41]:
for i in range(0,len(data)):
    data['value'][i] = int(data['value'][i],16)

In [42]:
for i in range(0,len(data)):
    data['timestamp'][i] = int(str(data['timestamp'][i]),16)
    data['timestamp'][i] = datetime.datetime.fromtimestamp(data['timestamp'][i])

In [50]:
data['timestamp'] = pd.to_datetime(data['timestamp'])

In [51]:
data['value'] = data['value']/1000000000000000

,from,gas,gasprice,input,to,value,gas_used,miner,number,timestamp
0,0x4bb96091ee9d802ed039c4d1a5f6216f90f81b01,0xa028,0xba43b7400,0x,0xc8fea4ab769162f6f7eafb8c2bd49734a03c60ef,4.95312e-12,0x5208,0xa027231f42c80ca4125b5cb962a21cd4f812e88f,0x61a84,2015-10-17 21:04:00
1,0xf0c896db24137eda6ec88cf1a95217f8604ae55e,0x5208,0xba43b7400,0x,0x32be343b94f860124dc4fee278fdcbd38c102d88,5.15345e-12,0x5208,0x4bb96091ee9d802ed039c4d1a5f6216f90f81b01,0x61a87,2015-10-17 21:04:38
2,0xa8de16847eee1677ee36d85f2cac8bf9717b2d39,0x5208,0xba43b7400,0x,0xc47aaa860008be6f65b58c6c6e02a84e666efe31,4.11671e-12,0x5208,0xa5a57098907037cd613d46c2c2ca3e65752d906e,0x61a8a,2015-10-17 21:05:02
3,0x63a9975ba31b0b9626b34300f7f627147df1f526,0x15f90,0xba43b7400,0x,0x7c5080988c6d91d090c23d54740f856c69450b29,3.96905e-14,0x1490c9,0x2a65aca4d5fc5b5c859090a6c34d164135398226,0x61a8b,2015-10-17 21:05:31
4,0x2dc26594856920611cc59e1fd47f8a4463f3cad5,0x5208,0xba43b7400,0x,0xc47aaa860008be6f65b58c6c6e02a84e666efe31,4.45852e-12,0x1490c9,0x2a65aca4d5fc5b5c859090a6c34d164135398226,0x61a8b,2015-10-17 21:05:31

In [94]:
hour_tranlist = data[(data['timestamp'] > '2015-10-19 10:00:00') & (data['timestamp'] < '2015-10-19 11:00:00')]

In [95]:
list1 = hour_tranlist['from']
list2 = hour_tranlist['to']
nodes = list(set(list1 + list2))
G = nx.Graph()
G.add_nodes_from(nodes)
G.add_edges_from(list(zip(list1,list2)),weight=data['value'])

In [96]:
string1=nx.info(G)

In [97]:
start = 'nodes:'
end = '\n'

print((string1.split(start))[1].split(end)[0])

 363

In [98]:
nx.number_of_edges(G)
nx.number_of_nodes(G)
# average degree of the network 
sum(dict(G.degree()).values()) / nx.number_of_nodes(G)

1.1074380165289257

In [100]:
len(nx.adjacency_spectrum(G, weight='value'))

363